<!doctype html>
<html lang="pt-br">
  {% load static %}
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'finance/image-ico-my.ico' %}">

    <title>{% block title %}
      <!-- Conteúdo específico das páginas -->
      {% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'finance/css/main.css' %}">

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 


    </head>

    <body>
  
    {% block header %}
        <!-- Conteúdo específico das páginas -->
    {% endblock %}

    <main class="main">
        {% block content %}
        <!-- Conteúdo específico das páginas -->
        {% endblock %}
    </main>

    {% block footer %}
      <footer id="footer" class="footer">

        <div class="container copyright text-center mt-4">
          <p>© <span>Copyright</span> <strong class="px-1 sitename">e-Mangueira</strong> <span>All Rights Reserved</span></p>
        </div>

      </footer>

    {% endblock %}



      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    
      <!-- Icons -->
      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
      <script>
        feather.replace()
      </script>
    

 <!-- JavaScript para limpar o formulário -->
      <script>

     
  
          document.addEventListener("DOMContentLoaded", function () {
              let clearFiltersBtn = document.getElementById("clear-filters");
              if (clearFiltersBtn) {
                  clearFiltersBtn.addEventListener("click", function () {
                      let url = this.getAttribute("data-url");  // Pegando a URL do atributo data-url
                      window.location.href = url;  // Redirecionando para a página sem filtros
                  });
              }


              let add_mov = document.getElementById("add_mov");
              if (add_mov) {
                add_mov.addEventListener("click", function () {
                      let url = this.getAttribute("data-url");  // Pegando a URL do atributo data-url
                      window.location.href = url;  // Redirecionando para a página sem filtros
                  });
              }
                 // Aplica a máscara em todos os inputs que possuem a classe 'value-payment'
                document.querySelectorAll("#value_generic").forEach(function (input) {
                  if (input) {
                    input.addEventListener("input", function () {
                      let value = this.value.replace(/\D/g, ""); // Remove tudo que não for número
                      value = (value / 100).toFixed(2) + ""; // Converte para decimal (2 casas)
                      value = value.replace(".", ","); // Troca ponto por vírgula (padrão BR)
                      value = value.replace(/\B(?=(\d{3})+(?!\d))/g, "."); // Adiciona os pontos nos milhares
                      this.value = "R$ " + value;
                  });
                  }
              });


      
          });
 
          (function() {
            "use strict";

            /**
            * Apply .scrolled class to the body as the page is scrolled down
            */
            function toggleScrolled() {
              const selectBody = document.querySelector('body');
              const selectHeader = document.querySelector('#header');
              if (!selectHeader.classList.contains('scroll-up-sticky') && !selectHeader.classList.contains('sticky-top') && !selectHeader.classList.contains('fixed-top')) return;
              window.scrollY > 100 ? selectBody.classList.add('scrolled') : selectBody.classList.remove('scrolled');
            }

            document.addEventListener('scroll', toggleScrolled);
            window.addEventListener('load', toggleScrolled);

            /**
            * Mobile nav toggle
            */
            const mobileNavToggleBtn = document.querySelector('.mobile-nav-toggle');

            function mobileNavToogle() {
              document.querySelector('body').classList.toggle('mobile-nav-active');
              mobileNavToggleBtn.classList.toggle('bi-list');
              mobileNavToggleBtn.classList.toggle('bi-x');
            }
            if (mobileNavToggleBtn) {
              mobileNavToggleBtn.addEventListener('click', mobileNavToogle);
            }

            /**
            * Hide mobile nav on same-page/hash links
            */
            document.querySelectorAll('#navmenu a').forEach(navmenu => {
              navmenu.addEventListener('click', () => {
                if (document.querySelector('.mobile-nav-active')) {
                  mobileNavToogle();
                }
              });

            });

            /**
            * Toggle mobile nav dropdowns
            */
            document.querySelectorAll('.navmenu .toggle-dropdown').forEach(navmenu => {
              navmenu.addEventListener('click', function(e) {
                e.preventDefault();
                this.parentNode.classList.toggle('active');
                this.parentNode.nextElementSibling.classList.toggle('dropdown-active');
                e.stopImmediatePropagation();
              });
            });

            /**
          * Scroll top button
          */
          document.addEventListener("DOMContentLoaded", function () {
            let scrollTop = document.querySelector(".scroll-top");

            if (scrollTop) {  // Verifica se o elemento existe
              function toggleScrollTop() {
                window.scrollY > 100
                  ? scrollTop.classList.add("active")
                  : scrollTop.classList.remove("active");
              }

              scrollTop.addEventListener("click", (e) => {
                e.preventDefault();
                window.scrollTo({
                  top: 0,
                  behavior: "smooth",
                });
              });

              window.addEventListener("load", toggleScrollTop);
              document.addEventListener("scroll", toggleScrollTop);
            }
          });


            /**
            * Init swiper sliders
            */
            function initSwiper() {
              document.querySelectorAll(".init-swiper").forEach(function(swiperElement) {
                let config = JSON.parse(
                  swiperElement.querySelector(".swiper-config").innerHTML.trim()
                );

                if (swiperElement.classList.contains("swiper-tab")) {
                  initSwiperWithCustomPagination(swiperElement, config);
                } else {
                  new Swiper(swiperElement, config);
                }
              });
            }

            window.addEventListener("load", initSwiper);


            /**
            * Frequently Asked Questions Toggle
            */
            document.querySelectorAll('.faq-item h3, .faq-item .faq-toggle').forEach((faqItem) => {
              faqItem.addEventListener('click', () => {
                faqItem.parentNode.classList.toggle('faq-active');
              });
            });

            /**
            * Correct scrolling position upon page load for URLs containing hash links.
            */
            window.addEventListener('load', function(e) {
              if (window.location.hash) {
                if (document.querySelector(window.location.hash)) {
                  setTimeout(() => {
                    let section = document.querySelector(window.location.hash);
                    let scrollMarginTop = getComputedStyle(section).scrollMarginTop;
                    window.scrollTo({
                      top: section.offsetTop - parseInt(scrollMarginTop),
                      behavior: 'smooth'
                    });
                  }, 100);
                }
              }
            });

            /**
            * Navmenu Scrollspy
            */
            let navmenulinks = document.querySelectorAll('.navmenu a');

            function navmenuScrollspy() {
              navmenulinks.forEach(navmenulink => {
                if (!navmenulink.hash) return;
                let section = document.querySelector(navmenulink.hash);
                if (!section) return;
                let position = window.scrollY + 200;
                if (position >= section.offsetTop && position <= (section.offsetTop + section.offsetHeight)) {
                  document.querySelectorAll('.navmenu a.active').forEach(link => link.classList.remove('active'));
                  navmenulink.classList.add('active');
                } else {
                  navmenulink.classList.remove('active');
                }
              })
            }
            window.addEventListener('load', navmenuScrollspy);
            document.addEventListener('scroll', navmenuScrollspy);

          })();
      </script>
    </body>
    </html>
    
