{% extends 'base.html' %}  <!-- Caminho do template base -->

{% block title %}HOME{% endblock %}

{% block header %}

  {% include 'menus/menu.html' %}  <!-- Inclui o menu -->

{% endblock %}

{% block content %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <!-- Hero Section -->
      <section id="hero" class="hero section">

        

        <div class="container mt-4">

          <div class="row">

            <div class="col-md-3">
              <div class="card p-3 mb-3 text-white bg-primary">
                  <h5>Saldo atual</h5>
                  <h3>R$ {{saldo_atual|floatformat:2}}</h3>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card p-3 mb-3 text-white bg-info">
                  <h5>Saldo do mês</h5>
                  <h3>R$ {{saldo_mes|floatformat:2}}</h3>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card p-3 mb-3 text-white bg-warning">
                  <h5>Saídas do mês</h5>
                  <h3>R$ {{valor_despesas_mes|floatformat:2}}</h3>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card p-3 text-white bg-danger">
                  <h5>Saídas p/ 30 Dias</h5>
                  <h3>R$ {{despesas_30_dias|floatformat:2}}</h3>
              </div>
            </div>

          </div>

          <div class="row">
              <!-- Card de Vendas -->
              <div class="col-md-6">
                  <div class="card p-3">
                    <div class="card-header bg-dark text-white text-center">
                        <h5 class="text-white">Comparação Receita x Despesa</h5>
                    </div>
                      <div class="chart-container">
                          <canvas id="salesChart"></canvas>
                      </div>
                  </div>
              </div>
  
              <!-- Card de Tráfego -->
              <div class="col-md-6">
                  <div class="card p-3">
                    <div class="card-header bg-dark text-white text-center">
                        <h5 class="text-white">Comparação Receita x Despesa</h5>
                    </div>
                      <div class="chart-container">
                          <canvas id="trafficChart"></canvas>
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="row mt-4">
              <!-- Usuários -->
              <div class="col-md-8">
                  <div class="card p-3">
                    <div class="card-header bg-dark text-white text-center">
                        <h5 class="text-white">Extato do Mês</h5>
                    </div>
                      <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Descrição</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Data</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for movement in movements %}
                            <tr>
                                <td>{{ movement.description }}</td>
                                <td class="text-center">{{ movement.status }}</td>
                                <td class="text-center">{{ movement.category }}</td> 
        
                                {% if movement.payment_at %}
                                    <td  class="text-center" >{{ movement.payment_at }}</td>
                                {% else %}
                                    <td  class="text-center" >{{ movement.due_at }}   </td>
                                {% endif %}
        
                                {% if 2 == movement.category.type_category.id %}
                                    <td  style="text-align: right; color: red; " >- R$ {{ movement.value }}   </td>
                                {% else %}
                                    <td  style="text-align: right; color: blue; " >R$ {{ movement.value }}   </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
        
                        {% if total_general %}
        
                            <tr style="text-align: right;">
                                <td  style="text-align: right;" colspan="4"><strong>Total:</strong></td>
                                <td  style="text-align: right;"><strong>R$ {{ total_general|floatformat:2 }}</strong></td>
                            </tr>
        
                        {%endif%}
                        </tbody>
                      </table>
                  </div>
              </div>
  
              <!-- Estatísticas -->
              <div class="col-md-4">
                  {% comment %} <div class="card p-3 mb-3 text-white bg-primary">
                      <h5>Users</h5>
                      <h3>26K</h3>
                  </div>
                  <div class="card p-3 mb-3 text-white bg-warning">
                      <h5>Conversion Rate</h5>
                      <h3>2.49%</h3>
                  </div>
                  <div class="card p-3 text-white bg-danger">
                      <h5>Sessions</h5>
                      <h3>44K</h3>
                  </div> {% endcomment %}
              </div>
          </div>
      </div>
  
      <script>
          document.addEventListener("DOMContentLoaded", function () {
              // Dados do Django para Sales
              const salesLabels = {{ sales_labels|safe }};
              const salesData = JSON.parse('{{ sales_data|safe }}');

              // Convertendo trafficData para um array de datasets
              const salesDatasets = Object.values(salesData);
              
              // Configuração do gráfico de vendas
              new Chart(document.getElementById('salesChart').getContext('2d'), {
                  type: 'line',
                  data: {
                      labels: salesLabels,
                      datasets: salesDatasets
                  }
              });
  
              // Dados do Django para Traffic
              const trafficLabels = {{ traffic_labels|safe }};
              const trafficData = JSON.parse('{{ traffic_data|safe }}');

              // Convertendo trafficData para um array de datasets
              const trafficdatasets = Object.values(trafficData);
              // Configuração do gráfico de tráfego
              new Chart(document.getElementById('trafficChart').getContext('2d'), {
                  type: 'bar',
                  data: {
                      labels: trafficLabels,
                      datasets:  trafficdatasets,
                  }
              });
          });
      </script>
    
      </section><!-- /Hero Section -->
    
{% endblock %}

{% block footer %}
<footer id="footer" class="footer">

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">e-Mangueira</strong> <span>All Rights Reserved</span></p>
  </div>

</footer>

{% endblock %}
