
{% load static %}

<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="{% url 'home_public' %}" class="logo d-flex align-items-center me-auto me-xl-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <img src="{% static 'finance/logo_finance.png' %}" alt="">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'home_public' %}" class="active">Home</a></li>
        <li><a href="#features">Soluções</a></li>
        <li><a href="#pricing">Preços</a></li>
        <li><a href="#contact">Contato</a></li>
        <li><a href="#faq">Faq</a></li>

        <li style="color: var(--accent-color);"><a href="{% url 'login' %}">
          Login
        </a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="{% url 'cadastro' %}">Cadastre-se</a>

  </div>
</header>